<a href="/">Home</a>
<a href="/about">About</a>
<a href="/coding">Coding</a>
<a href="/photography">Photography</a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coding</title>
	</head>
    <body>
        <h1>I'm a software engineer</h1>
        <p>This blog is my first project!</p>
        <p>When I get a second project, I'll be pasting it here along with a little bit about my design philosophy and some of the challenges I encountered along the way.</p>
    </body>
</html>