---
import '../styles/global.css'
import Nav from '../components/Nav.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coding</title>
	</head>
    <body>
		<Nav />
        <h1>I'm a software engineer</h1>
        <p>This blog is my first <a href="/posts/portfolio-site">project</a>!</p>
		<h2>Here's a list of all my sites and their blog posts!</h2>
		<ul>
			<li><a href="/posts/skunch">Skunch</a></li>
			<li><a href="/posts/guild">Guild</a></li>
			<li><a href="/posts/portfolio-site">Portfolio (this site)</a></li>
		</ul>
        <p>When I get a second project, I'll be pasting it here along with a little bit about my design philosophy and some of the challenges I encountered along the way.</p>
    </body>
</html>