<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/">Blog</a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
	<body>
		<h1>Welcome to my personal site!</h1>
		<p>My name is Neal Grindstaff</p>
		<h2>Check out my work!</h2>
		<h3>Coding</h3>
		<ul>
			<li>Skunch</li>
			<li>Bluegrass Medical</li>
			<li>Robbie Collins</li>
			<li>University of Kentucky Trumpet Guild</li>
		</ul>
		<h3>Photography</h3>
		<ul>
			<li>Jazz</li>
			<li>Rock</li>
			<li>Portraits</li>
			<li>Landscape</li>
			<li>Professionals</li>
		</ul>
	</body>
</html>