---
import '../styles/global.css'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import Hero from '../components/Hero.astro'
const pageTitle = "Music"
---

<html data-theme="dark" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
    <body>
        <Nav />
        <h1>This is my music</h1>        
    </body>
</html>