---
import '../styles/global.css'
import '../components/Nav.astro'
---

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/coding">Coding</a>
<a href="/photography">Photography</a>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coding</title>
	</head>
    <body>
        <h1>I'm a photographer</h1>
        <p>This is a portfolio of my photography work</p>
        <p>All of my best shots organized by genre.</p>
        <p>But check out my singular Porfolio below...</p>
    </body>
</html>