<script>
const form = document.getElementById('contact-form');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    const formData = new FormData(form);
    const data = Object.fromEntries(formData);

    const response = await fetch('/api/contactForm', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    });

    if (response.ok) {
      console.log("Success")
    } else {
      console.log("Error:", response.statusText)
    }
  });
</script>

<h1>Thank you for reaching out!</h1>
<h2>Please fill out your details and a message below:</h2>
<form id="contact-form" action="/api/contactForm" method="post" data-netlify="true">
    <div>
        <h3>Name (preferred):</h3>
        <input class="border-slate-500 border-2 rounded-md" type="text" name="name">
    </div>
    <div>
        <h3>Email:</h3>
        <input class="border-slate-500 border-2 rounded-md" type="email" name="email">
    </div>
    <div>
        <h3>Your Message:</h3>
        <textarea class="border-slate-500 border-2 rounded-md" name="message" id="Message" cols="30" rows="10"></textarea>
    </div>
    <button class="btn" type="submit">Submit</button>
</form>
