<h1>Thank you for reaching out!</h1>
<h2>Please fill out your details and a message below:</h2>
<form action="/api/contactForm" method="post">
    <div>
        <h3>Name (preferred):</h3>
        <input class="border-slate-500 border-2 rounded-md" type="text">
    </div>
    <div>
        <h3>Email:</h3>
        <input class="border-slate-500 border-2 rounded-md" type="text">
    </div>
    <div>
        <h3>Your Message:</h3>
        <textarea class="border-slate-500 border-2 rounded-md" name="Message" id="Message" cols="30" rows="10"></textarea>
    </div>
    <button class="btn" type="submit">Submit</button>
</form>